<% const noneDisplay = "display:none;";
const blockDisplay = "display:block;";
const inlineBlockDisplay = "display:inline-block;";%>
<span id="buttons">
    <div class="dropdown">
    <img id="settings" title = 'settingsoff' class="button" src="/assets/icon/settings32off.png" title="settings">
    <div id="settings_content" title = 'settingsoff' class="dropdown-none">
        <form id="settingsForm">
            <a onclick = highlighting() href=""
            style=<%= ((typeof pageID !== 'undefined')&&(pageID === 0 || pageID === 1 ))? blockDisplay : noneDisplay%>>
            <label id="label1" class="container2" for="highlighting">
                <input id="highlighting"i type="checkbox">
                <span class="checkmark" value="true"></span>
                mark line
                <button onclick = pick() id = "Pick" class="jscolor {valueElement: 'color_value'}">Pick a color</button>
                </label>
            </a>

            <a href="#" style=<%= ((typeof pageID !== 'undefined')&&(pageID === 0 || pageID === 1 || pageID === 3))? blockDisplay : noneDisplay%>>
                <label id= "label2" class="container2" for="syllables">
                    <input id="syllables"i type="checkbox">
                    <span class="checkmark"></span>
                    Dissolution of syllables
                </label>
            </a>
                <a href="#" style=<%= ((typeof pageID !== 'undefined')&&(pageID === 0 || pageID === 1 || pageID === 3))? blockDisplay : noneDisplay%>>
                <label id= "label3" class="container2">
                    <input id='bold' type="checkbox">
                    <span class="checkmark"></span>
                    on over a word in Beaulet
                </label>
            </a>
            <!--                    <a href="#"> Select Font size:on over a word in Beaulet
            <select id = "font_size" name="size">
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            </select>
            </a>-->

            <div style=<%= ((typeof pageID !== 'undefined')&&(pageID === 3 || pageID === 4))? blockDisplay :noneDisplay%>>
                <a><b>Order:</b></a>
                <a href="#">
                    <label><input type="radio" name="order" value="time" checked> Add time</label>
                </a>
                <a href="#">
                    <label><input type="radio" name="order" value="gradual"> Easy to difficult</label>
                </a>
                <a href="#" style=<%= ((typeof pageID !== 'undefined')&&(pageID === 4))? blockDisplay :noneDisplay%>>
                    <label><input type="radio" name="order" value="random" > Random</label>
                </a>
                <a href="#" style=<%= ((typeof pageID !== 'undefined')&&(pageID === 4))? blockDisplay :noneDisplay%>>
                    <label><input type="radio" name="order" value="dynamic"> Dynamic</label>
                </a>
            </div>
        </form>
    </div>
</div>
    <img id="speaker" class="button" src="/assets/icon/speaker32.png" title="speaker"
         style=<%= ((typeof pageID !== 'undefined')&&(pageID === 0 || pageID === 1 || pageID === 3))? blockDisplay : noneDisplay%>>

    <img id="clear" class="button" src="/assets/icon/broom32.png" title="clear"
         style=<%= ((typeof pageID !== 'undefined')&&(pageID === 0))? blockDisplay : noneDisplay%>>
</span>
<script src="/assets/js/tools.js"></script>